body {
  text-align: center;
}

h2 {
  text-align: center;
  margin: 50px auto;
}

form {
  display: block;
  width: 300px;
  margin: 0 auto;
}

.form-group {
  margin: 15px 0;
  display: flex;
  align-items: center;
}

label {
  width: 80px;
}

input, select {
  flex: 1;
}

button {
  margin: 30px;
  width: 150px;
}

