{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/absence_list.css')}}">
{% endblock %}

{% block content %}
{% if msg != null %}
<p style="color:blue">{{msg}}</p>
{% endif %}
<h1>欠席情報一覧</h1>

<form action="{{ url_for('search_absence') }}" method="POST">
<label for="criteria">検索ワード:</label>
<select id="criteria" name="criteria">
    <option value="date">日付</option>
    <option value="department">学科</option>
    <option value="name">名前</option>
</select>
<input type="text" id="keyword" name="keyword">
<input type="submit" value="検索">
</form>
<br>
<table class="table table-striped">
<thead>
<tr>
    <th>日付</th>
    <th>学科</th>
    <th>名前</th>
    <th>欠席理由</th>
    <th></th>
</tr>
</thead>
<tbody>
{% for date, department, name, reason in absence_list %}
<tr>
    <td>{{ date }}</td>
    <td>{{ department }}</td>
    <td>{{ name }}</td>
    <td>{{ reason }}</td>
    <td><a href="{{ url_for('delete_absence', id=date) }}">削除</a></td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
