{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/register_absence.css')}}">
{% endblock %}

{% block content %}
<body>
<h2>欠席情報登録</h2>
{% if error %}
    <p style="color:red">{{ error }}</p>
{% endif %}
<form action="{{ url_for('register_absence_exe') }}" method="post">
    <div class="form-group">
        <label for="date">　　日付:</label>
        <input type="date" id="date" name="date" value="{{ date }}" required>
    </div>
    <div class="form-group">
        <label for="department">　　学科:</label>
        <select name="department" required>
            <option value="">選択してください</option>
            <option value="高度情報工学科">高度情報工学科</option>
            <option value="総合システム工学科">総合システム工学科</option>
            <option value="情報システム科">情報システム科</option>
        </select>
    </div>
    <div class="form-group">
        <label for="name">　　名前:</label>
        <input type="text" name="name" value="{{ name }}">
    </div>
    <div class="form-group">
        <label for="reason">欠席理由:</label>
        <input type="text" name="reason" value="{{ reason }}">
    </div>
    <button type="submit">登録</button>
</form>
<a href="{{ url_for('mypage') }}">戻る</a>
</body>
{% endblock %}