{% extends "top_layout.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/index.css')}}">
{% endblock %}

{% block content %}
<body>
    <h2>教員アカウント登録</h2>
    {% if error != null %}
        <p style="color:red">{{error}}</p>
    {% endif %}
        <form action="{{url_for('register_exe')}}" method="post">
            　　　　　名前:<input type="text" name="username" value="{{user_name}}"><br>
            メールアドレス:<input type="text" name="mail" value="{{mail}}"><br>
            　　パスワード:<input type="password" name="password" value="{{password}}"><br>
            <button type="submit">登録</button>
        </form>
        <div2><a href="{{url_for('login')}}">戻る</a></div2>
</body>
{% endblock %}